:root {
    --bg-color: hsl(202, 86%, 94%);
    --cal-bg-color: hsl(0, 0%, 100%);
    --res-bg-color: hsl(202, 55%, 16%);
    --res-text-color: hsl(200, 24%, 40%);
    --btn-color: hsl(61, 70%, 52%);
    --btn-hover: hsl(4, 69%, 50%);
    --border-color: hsl(203, 41%, 72%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-color);
}
input {
    cursor: pointer;
    outline-style: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
label[for='Mortgage-term'] > div:hover,
label[for='Mortgage-rate'] > div:hover,
label[for='Mortgage-amount'] > div:hover {
    border: 1px solid var(--res-text-color);
    cursor: pointer;
}

@media (min-width: 530px) {
    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--bg-color);
    }
    main {
        display: flex;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    main .calculator {
        padding: 1rem;
        width: 50%;
    }
    main .result {
        padding: 1rem;
        text-align: center;
        width: 50%;
        background-color: var(--res-bg-color);
        color: var(--bg-color);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 34px;
    }

    /* form */
    form > div {
        display: flex;
        column-gap: 1rem;
    }
}
main {
    max-width: 650px;
    background-color: var(--cal-bg-color);
}

main .calculator {
    padding: 1rem;
}
main .calculator > div span {
    display: inline-block;
    text-decoration: underline;
    color: var(--res-text-color);
    font-size: 0.8rem;
    cursor: pointer;
}
main .calculator > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


main .calculator > form {
    margin-top: 1.5rem;
}


label {
    display: block;
}

/* Mortage Amount */
label[for='Mortgage-amount'] {
    color: var(--res-text-color);
    width: 100%;
    position: relative;
}
label[for='Mortgage-amount'] > div {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid var(--border-color);
    display: flex;
    border-radius: 2px;
}
label[for='Mortgage-amount'] input {
    width: 100%;
    border: none;
    padding: 0 0.2rem;
}
label[for='Mortgage-amount'] span {
    background-color: var(--bg-color);
    padding: 0.2rem 0.7rem;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    font-weight: 700;
}


label[for='Mortgage-term'],
label[for='Mortgage-rate'] {
    color: var(--res-text-color);
    width: 100%;
}
label[for='Mortgage-term'] > div,
label[for='Mortgage-rate'] > div {
    margin-top: 0.3rem;
    width: 100%;
    border: 1px solid var(--border-color);
    display: flex;
    border-radius: 2px;
}
/* active */
label[for='Mortgage-amount'] > div.active,
label[for='Mortgage-term'] > div.active,
label[for='Mortgage-rate'] > div.active {
    border: 1px solid var(--btn-color);
}
label[for='Mortgage-amount'] > div.active span,
label[for='Mortgage-term'] > div.active span,
label[for='Mortgage-rate'] > div.active span {
    background-color: var(--btn-color);
    color: #000;
}


label[for='Mortgage-term'] input,
label[for='Mortgage-rate'] input {
    width: 100%;
    padding: 0.3rem 0.3rem;
    border: none;
}
label[for='Mortgage-term'] span,
label[for='Mortgage-rate'] span {
    background-color: var(--bg-color);
    padding: 0.2rem 0.5rem;
    font-size: 15px;
    font-weight: 700;
}



/* Mortgage Type */
form > p {
    color: var(--res-text-color);
    margin: 1rem 0 0 0;
}

label[for='Mortgage-payment'],
label[for='Interest-only'] {
    color: var(--res-bg-color);
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 0.3rem;
    border-radius: 2px;
    margin: 0.3rem 0;
    font-weight: 700;
    cursor: pointer;
}
label[for='Mortgage-payment'] > span,
label[for='Interest-only'] > span {
    margin-left: 5px;
}

label[for='Mortgage-payment']:hover,
label[for='Interest-only']:hover {
    border: 1px solid var(--btn-color);
}

.active-radio {
    background-color: hsla(61, 70%, 52%, 0.271);
    position: relative;
}

input[type='radio']::after {
    content: '';
    background-color: #fff;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    bottom: 1px;
    left: 0.2px;
    border: 1px solid hsl(61, 70%, 52%);
    position: relative;
}
input[type='radio']::before {
    content: '';
    background-color: hsl(61, 70%, 52%);
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 9.5px;
    left: 7.4px;
}




form > button {
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 4px 20px;
    background-color: var(--btn-color);
    color: var(--res-bg-color);
    margin: 1rem 0 0 0;
    font-weight: 700;
    cursor: pointer;
}
form > button:hover {
    background-color: hsla(61, 70%, 52%, 0.596);
}
@media (max-width: 550px) {
    form > button {
        margin: 1rem auto auto auto;
    }
}







main .result {
    padding: 1rem;
    background-color: var(--res-bg-color);
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main .result > img {
    max-width: 50%;
    margin: 0 auto;
}
main .result > h3 {
    margin: 0.8rem 0;
}
main .result > p {
    color: var(--res-text-color);
    font-size: 0.7rem;
}