:root {
  --bg-color: hsl(202, 86%, 94%);
  --cal-bg-color: hsl(0, 0%, 100%);
  --res-bg-color: hsl(202, 55%, 16%);
  --res-text-color: hsl(200, 24%, 40%);
  --res-bgColor: hsl(200, 26%, 54%);
  --btn-color: hsl(61, 70%, 52%);
  --btn-hover: hsl(4, 69%, 50%);
  --border-color: hsl(203, 41%, 72%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-color);
}
input {
  cursor: pointer;
  outline-style: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  position: relative;
}
label[for="Mortgage-term"] > div:hover,
label[for="Mortgage-rate"] > div:hover,
label[for="Mortgage-amount"] > div:hover {
  border: 1px solid var(--res-text-color);
  cursor: pointer;
}

@media (min-width: 530px) {
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
  }
  main {
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  main .calculator {
    padding: 1rem;
    width: 50%;
  }
  main .result {
    padding: 1rem;
    /* text-align: center; */
    width: 50%;
    background-color: var(--res-bg-color);
    color: var(--bg-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 34px;
  }

  /* form */
  form > div {
    display: flex;
    column-gap: 1rem;
  }
}
main {
  max-width: 650px;
  background-color: var(--cal-bg-color);
}

main .calculator {
  padding: 1rem;
}

main .calculator > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

main .calculator > div span {
  display: inline-block;
  text-decoration: underline;
  color: var(--res-text-color);
  font-size: 0.8rem;
  cursor: pointer;
}
main .calculator > div span > a {
  text-decoration: none;
  color: var(--res-text-color);
}

main .calculator > form {
  margin-top: 1.5rem;
}

label {
  display: block;
}

/* Mortage Amount */
label[for="mortgage-amount"] {
  color: var(--res-text-color);
  width: 100%;
  position: relative;
}
label[for="mortgage-amount"] > div {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--border-color);
  display: flex;
  border-radius: 2px;
}
label[for="mortgage-amount"] input {
  width: 100%;
  border: none;
  padding: 0 0.2rem;
}
label[for="mortgage-amount"] span {
  background-color: var(--bg-color);
  padding: 0.2rem 0.7rem;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
  font-weight: 700;
}

label[for="Mortgage-term"],
label[for="Mortgage-rate"] {
  color: var(--res-text-color);
  width: 100%;
}
label[for="Mortgage-term"] > div,
label[for="Mortgage-rate"] > div {
  margin-top: 0.3rem;
  width: 100%;
  border: 1px solid var(--border-color);
  display: flex;
  border-radius: 2px;
}
/* active */
label[for="mortgage-amount"] > div.active,
label[for="Mortgage-term"] > div.active,
label[for="Mortgage-rate"] > div.active {
  border: 1px solid var(--btn-color);
}
label[for="mortgage-amount"] > div.active span,
label[for="Mortgage-term"] > div.active span,
label[for="Mortgage-rate"] > div.active span {
  background-color: var(--btn-color);
  color: #000;
}

label[for="Mortgage-term"] input,
label[for="Mortgage-rate"] input {
  width: 100%;
  padding: 0.3rem 0.3rem;
  border: none;
}
label[for="Mortgage-term"] span,
label[for="Mortgage-rate"] span {
  background-color: var(--bg-color);
  padding: 0.2rem 0.5rem;
  font-size: 15px;
  font-weight: 700;
}

/* Mortgage Type */
form > p {
  color: var(--res-text-color);
  margin: 1rem 0 0 0;
}

label[for="Mortgage-payment"],
label[for="Interest-only"] {
  color: var(--res-bg-color);
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 0.3rem;
  border-radius: 2px;
  margin: 0.3rem 0;
  font-weight: 700;
  cursor: pointer;
}
label[for="Mortgage-payment"] > span,
label[for="Interest-only"] > span {
  margin-left: 5px;
}

label[for="Mortgage-payment"]:hover,
label[for="Interest-only"]:hover {
  border: 1px solid var(--btn-color);
}

.active-radio {
  background-color: hsla(61, 70%, 52%, 0.271);
}

input[type="radio"]::after {
  content: "";
  background-color: #fff;
  display: none;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 1px solid hsl(61, 70%, 52%);
  position: relative;
  /* top: -1px; */
}
input[type="radio"]::before {
  content: "";
  background-color: hsl(61, 70%, 52%);
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 2.5px;
  left: 3.4px;
}
/* active radio */
input[type="radio"]:checked::after {
  display: block;
}
input[type="radio"]:checked::before {
  display: inline-block;
}

form > button {
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 4px 20px;
  background-color: var(--btn-color);
  color: var(--res-bg-color);
  margin: 2rem 0 0 0;
  font-weight: 700;
  cursor: pointer;
}
form > button:hover {
  background-color: hsla(61, 70%, 52%, 0.596);
}






main .result {
  background-color: var(--res-bg-color);
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .result > img {
  max-width: 50%;
  margin: 0 auto;
}
main .result > .no-result-h3 {
  margin: 0.8rem 0;
  text-align: center;
}
main .result > .no-result-p {
  color: var(--res-text-color);
  font-size: 0.7rem;
  text-align: center;
}

/* result styles */
main .result > .result-h3 {
  margin: 0.8rem 0;
}
main .result > .result-p {
  color: var(--res-text-color);
  font-size: 0.7rem;
}
.total-result {
  background-color: hsl(200, 55%, 10%);
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;
  border-top: 2px solid var(--btn-color);
}
.total-result > .monthly {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--res-bgColor);
}
.total-result > .monthly h3 {
  margin: 0.5rem 0;
  color: var(--btn-color);
  font-size: 2.5rem;
}
.total-result > .total {
  margin-top: 1rem;
}
.total-result > .total h3 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}


@media (max-width: 550px) {
  form > button {
    margin: 2rem auto auto auto;
  }
  main .result {
    margin-top: 1rem;
    padding: 2.5rem 0.5rem;
  }
  main .calculator > div {
    flex-direction: column;
    row-gap: 1rem;
  }

  /* Radio */
  label[for="Mortgage-payment"],
  label[for="Interest-only"] {
    padding: 0.7rem 0.5rem;
  }


  label[for="Mortgage-term"],
  label[for="Mortgage-rate"] {
    margin-top: 1rem;
  }
  label[for="Mortgage-term"] input, 
  label[for="Mortgage-rate"] input {
    padding: 0.7rem 0.3rem;
  }
  label[for="Mortgage-term"] span, 
  label[for="Mortgage-rate"] span {
    padding: 0.5rem 0.9rem;
  }

  label[for="mortgage-amount"] input {
    padding: 0.7rem 0.2rem;
  }
  label[for="mortgage-amount"] span {
    padding: 0.5rem 0.9rem;
  }

}